{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% block title %}
        {% endblock title %}
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Crowd-Funding-WebAPP" name="keywords">
        <meta content="Crowd-Funding-WebAPP" name="description">

        <!-- Favicon -->
        <link href="{% static 'img/favicon.ico'  %}" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'libs/flaticon/font/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'libs/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'libs/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
<body>
{% include 'globalpages/nave.html' %}
{% block content %}
{% endblock content %}
{% include 'globalpages/footer.html' %}
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'libs/easing/easing.min.js' %}"></script>
        <script src="{% static 'libs/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'libs/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'libs/counterup/counterup.min.js' %}"></script>
        <script src="{% static 'libs/parallax/parallax.min.js' %}"></script>

        <!-- Contact Javascript File -->
        <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
        <script src="{% static 'mail/contact.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>
        <script>
        mydate.min = new Date().toISOString().split("T")[0];
        endmydate.min = new Date().toISOString().split("T")[0];

<!--            var mydate = document.getElementById('mydate'),-->
<!--            mydateError = document.getElementById('mydate_error');-->
<!--            mydate.addEventListener('input', function() {-->
<!--                if (!mydate.value.match(/\d{4}-\d{1,2}-\d{1,2}/)) {-->
<!--                    mydateError.innerHTML = 'Please specify a valid date in the form 1990-02-22';-->
<!--                    mydateError.style.display = 'inherit';-->
<!--                } else {-->
<!--                    var value = new Date(mydate.value);-->
<!--                    let currentDate = new Date().toJSON().slice(0, 10);-->
<!--                     var min = currentDate;-->
<!--                     var current = new Date();-->
<!--                     var followingDay = new Date(current.getTime() + 86400000); // + 1 day in ms-->
<!--                     var max = followingDay.toLocaleDateString();-->
<!--                     console.log("value "+ value)-->
<!--                     console.log("Min "+ min)-->
<!--                     console.log("current "+current)-->
<!--                     console.log("Max "+max)-->
<!--                    if (value < min || value > max) {-->
<!--                        console.log("IF")-->
<!--                        mydateError.innerHTML = 'Date has to be between ' + min + ' and ' + max;-->
<!--                        mydateError.style.display = 'inherit';-->
<!--                    } else {-->
<!--                         console.log("Else")-->
<!--                        mydateError.style.display = 'none';-->
<!--                    }-->
<!--                }-->
<!--            });-->
        </script>
</body>
</html>