{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>User Profile </title>
{% endblock title %}


{% block content %}
  <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Change Password</h2>
                    </div>
                    <div class="col-12">

                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
  <div class="container">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>
{% endblock content %}